.message-container-warning ul {
  list-style-type: none;
}

.message-container-error ul {
  list-style-type: none;
}

li.MessageItem {
  height: 28px;
  line-height: 28px;
}

li.MessageItem > svg {
  position: relative;
  top: 6px;
}
